<h3 class="display-4 text-black">BMS Update</h3>
<!--<div class="separator"></div>-->
<div class="alert alert-light" role="alert">
  <div class="row">
    <div class="col-xs-12 col-md-2">
      <p style="font-weight: bold">Quote:</p>
    </div>
    <div class="col-xs-12 col-md-5">
      <p>{{ quote.quoteNumber }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-2">
      <p style="font-weight: bold">Reason:</p>
    </div>
    <div class="col-xs-12 col-md-5">
      <p>{{ quote.reason }}</p>
    </div>
  </div>
</div>

<!--<div class="separator"></div>-->
<fieldset class="form-row-field"> 
    <legend>Do you currently have home insurance?</legend>   
    <label class="form-check">Yes
      <input
        class="form-check-input"
        type="radio"
        name="inlineRadioOptions"
        id="inlineRadio1"
        value="option1"
      />
      <span class="form-check-label"></span>
      
    </label>
    <label class="form-check">No
      <input
        class="form-check-input"
        type="radio"
        name="inlineRadioOptions"
        id="inlineRadio2"
        value="option2"
      />
      <span class="form-check-label"></span>
    </label>
  </fieldset>


<div class="form-row-field">  
    <label>How many claims have you had in the past 5 years?</label>
    <div>
      <input type="text" min="0" max="20"/>
    </div>   
</div>
<!--<div class="row">
  <div class="col-xs-12 col-md-6"></div>
  <div class="col-xs-12 col-md-6">-->
    <button
      id="btnUpdate"
      type="button"
      class="btn btn-primary shadow-sm px-4 mb-4 mt-4"
    >
      Submit
    </button>
  <!--</div>
</div>-->
