<h3 class="display-4 heading-seperator">BMS New Business Upload</h3>
<div class="row">
  <div class="col-sm-4 mt-4" *ngFor="let quote of quotes">
    <div class="card">
      <div class="card-body">
        <div class="d-flex w-100 justify-content-between card-body-header">
          <h3 class="mb-1">{{ quote.quoteNumber }}</h3>
          <small>{{ quote.date }}</small>
        </div>
        <div class="card-text">
          <p class="status">
            {{ quote.status }}
          </p>
          <p>
            {{ quote.reason }}
          </p>

          <a
            [routerLink]="['/bms/bms-update', quote.quoteNumber]"
            class="btn btn-primary"
            >Submit</a
          >
          <div
            class="pull-right {{
              quote.lob === 'Property' ? 'propertyIcon' : 'autoIcon'
            }}"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
