<div class="row">
  <nav-widget *ngIf="user.role != 'csr'"></nav-widget>
  <nav-widget-uw *ngIf="user.role === 'csr'"></nav-widget-uw>
  <div class="page-content p-5" id="content">
    <!-- Toggle button -->
    <!-- 
    <button
      id="sidebarCollapse"
      type="button"
      class="btn btn-light btn-style shadow-sm px-4 mb-4"
    >
      <i class="fa fa-bars mr-2"></i><small class="">Toggle</small>
    </button> -->
    <router-outlet></router-outlet>
  </div>
</div>

<app-chat></app-chat>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
