<section>
  <div class="page-header">
    <h2 class="mt-3">
      Driver Information
    </h2>
  </div>
</section>
<section>
  <form name="driverForm">
    <div class="form-group row">
      <label class="col-sm-4 col-md-3">First Name</label>
      <div class="col-sm-8 col-md-4">
        <input type="text" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-md-3">Last Name</label>
      <div class="col-sm-8 col-md-4">
        <input type="text" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-md-3">Date of Birth</label>
      <div class="col-sm-8 col-md-4">
        <input type="text" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-md-3">Gender</label>
      <div class="col-sm-8 col-md-4">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary">Male</button>
          <button type="button" class="btn btn-secondary">Female</button>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-md-3">Marital Status:</label>
      <div class="col-sm-8 col-md-4">
        <div
          class="btn-group btn-group-sm"
          role="group"
          aria-label="Basic example"
        >
          <button type="button" class="btn btn-secondary">Single</button>
          <button type="button" class="btn btn-secondary">Married</button>
          <button type="button" class="btn btn-secondary">Widowed</button>
          <button type="button" class="btn btn-secondary">Divorced</button>
          <button type="button" class="btn btn-secondary">Common-Law</button>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-md-3">Type of current license:</label>
      <div class="col-sm-8 col-md-4">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary">G</button>
          <button type="button" class="btn btn-secondary">G1</button>
          <button type="button" class="btn btn-secondary">G2</button>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-md-3">License date:</label>
      <div class="col-sm-8 col-md-4">
        <input type="text" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-md-3"
        >How many years have you been continuously insured:</label
      >
      <div class="col-sm-8 col-md-4">
        <input type="text" />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-8 col-md-4">
        <a class="btn btn-primary" href="/quote/vehicle" role="button"
          >Previous</a
        >
        <a class="btn btn-primary" href="/quote/summary" role="button"
          >Submit</a
        >
      </div>
    </div>
  </form>
</section>
