<div>
  <div class="heading-seperator">
    <h1 class="display-4 dashboard-help">Dashboard</h1>
  </div>
  <h2 class="display-5 mb-3 mt-3">Quick Stats</h2>
  <div class="row stats-replay-data mt-3">
    <div class="col-xs-12 col-md-2" *ngFor="let stat of stats">
      <div class="card cardbox1">
        <div class="card-body">
          <h5 class="card-title  center-align">{{ stat.type }}</h5>
          <p class="card-text center-align">{{ stat.count }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator"></div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h2 class="display-5">NB Monthly Count</h2>
    </div>
    <div class="col-xs-6 col-md-4">
      <h2 class="display-5">Rolling Commission</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <apx-chart
        [series]="nbChart.series"
        [xaxis]="nbChart.xaxis"
        [chart]="nbChart.chart"
        [plotOptions]="nbChart.plotOptions"
        [dataLabels]="nbChart.dataLabels"
        [stroke]="nbChart.stroke"
      ></apx-chart>
    </div>
    <div class="col-xs-6 col-md-6">
      <apx-chart
        [series]="commissionChart.series"
        [labels]="commissionChart.labels"
        [chart]="commissionChart.chart"
        [responsive]="commissionChart.responsive"
      ></apx-chart>
    </div>
  </div>
  <div class="separator"></div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="row">
        <h2
          (click)="toggleActivity()"
          id="activityList"
          class="display-5"
          style="cursor: pointer;"
        >
          &nbsp;&nbsp;Activity List
          <i
            class="fa"
            [ngClass]="showActivity ? 'fa-angle-up' : 'fa-angle-down'"
          ></i>
        </h2>
        <!-- <i class="fa fa-compress mr-3  fa-fw"></i> -->
      </div>
      <apx-chart
        [series]="pendingChart.series"
        [plotOptions]="pendingChart.plotOptions"
        [chart]="pendingChart.chart"
        [labels]="pendingChart.labels"
      ></apx-chart>
      <div *ngIf="showActivity">
        <table class="table table-striped">
          <thead>
            <tr>
              <th colspan="8" scope="col">
                <h4 style="color: orange">Pending Renewal List</h4>
              </th>
            </tr>
          </thead>

          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Company Name & Branch number</th>
              <th scope="col">Policy Number</th>
              <th scope="col">UW Reason</th>
              <th scope="col">UW Agent</th>
              <th scope="col">Policy Transaction</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Aug 10,2019</th>
              <td>AA-Toronto</td>
              <td>p-702126</td>

              <th>Eligibility Review</th>
              <td>Ontario -services</td>
              <td>Renewal Rewrite</td>
              <td>Suspended</td>
            </tr>
            <tr>
              <th>Aug 20,2019</th>
              <td>AA-Toronto</td>
              <td>p-704426</td>

              <th>Eligibility Review</th>
              <td>Ontario -services</td>
              <td>Renewal Rewrite</td>
              <td>Open</td>
            </tr>
            <tr>
              <th>Jul 12,2019</th>
              <td>AA-Toronto</td>
              <td>p-712026</td>

              <th>Eligibility Review</th>
              <td>Ontario -services</td>
              <td>Renewal Rewrite</td>
              <td>Closed</td>
            </tr>
          </tbody>

          <thead>
            <tr>
              <th colspan="8" scope="col">
                <h4 style="color: red">Pending Cancellation List</h4>
              </th>
            </tr>
          </thead>

          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Company name & Branch number</th>
              <th scope="col">Policy Number</th>
              <th scope="col">UW Reason</th>
              <th scope="col">UW Agent</th>
              <th scope="col">Policy Transaction</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Aug 10,2019</th>
              <td>AA-Toronto</td>
              <td>p-702126</td>

              <th>Review</th>
              <td>Ontario -services</td>
              <td>Renewal Rewrite</td>
              <td>Suspended<a>Click To Action</a></td>
            </tr>
            <tr>
              <th>Aug 20,2019</th>
              <td>AA-Toronto</td>
              <td>p-704426</td>

              <th>Review</th>
              <td>Ontario -services</td>
              <td>New Business</td>
              <td>Open <a>Click To Action</a></td>
            </tr>
            <tr>
              <th>Jul 12,2019</th>
              <td>AA-Toronto</td>
              <td>p-712026</td>

              <th>Review</th>
              <td>Ontario -services</td>
              <td>Renewal Rewrite</td>
              <td>Closed<<a>Click To Action</a>/td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="separator"></div>
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <h2
        data-toggle="collapse"
        href="#"
        aria-expanded="false"
        aria-controls=""
        class="display-5"
      >
        BMS Upload Summary
      </h2>
      <apx-chart
        [series]="bmsUploadChart.series"
        [plotOptions]="bmsUploadChart.plotOptions"
        [chart]="bmsUploadChart.chart"
        [labels]="bmsUploadChart.labels"
        [stroke]="bmsUploadChart.stroke"
        [xaxis]="bmsUploadChart.xaxis"
        [tooltip]="bmsUploadChart.tooltip"
        [fill]="bmsUploadChart.fill"
        [legend]="bmsUploadChart.legend"
      ></apx-chart>
    </div>
    <div class="col-xs-12 col-md-3">
      <button
        id="btnUpdate"
        type="button"
        class="btn btn-style shadow-sm px-4 mb-4"
        (click)="navigateToError()"
      >
        NB Upload
      </button>
    </div>
  </div>
  <div class="separator"></div>
  <div class="row" id="sanction">
    <div class="col-xs-12 col-md-12">
      <h2
        data-toggle="collapse"
        href="#"
        aria-expanded="false"
        aria-controls=""
        class="display-5"
      >
        Broker Sanctioning Request Summary
      </h2>
      <apx-chart
        [series]="sanctionChart.series"
        [plotOptions]="sanctionChart.plotOptions"
        [chart]="sanctionChart.chart"
        [labels]="sanctionChart.labels"
        [legend]="sanctionChart.legend"
        [colors]="sanctionChart.colors"
        [responsive]="sanctionChart.responsive"
      ></apx-chart>
    </div>
  </div>
  <!-- End demo content -->
</div>
