/* You can add global styles to this file, and also import other style files */
/*
  *
  * ==========================================
  * CUSTOM UTIL CLASSES
  * ==========================================
  *
  */
$color1: #f4f4f4;
$color2: #3197EE;
html,
body,
.container,
app-root > div {
  height: 100%;
}
h1,
h2,
h3 {
  color: #5c596d;
}

.autoIcon {
  background: url("./assets/img/icon-auto-grey.svg") no-repeat;
  width: 40px;
  display: inline-block;
  height: 30px;
}

.propertyIcon {
  background: url("./assets/img/icon-home-grey.svg") no-repeat;
  width: 40px;
  display: inline-block;
  height: 30px;
}
.rowpadding {
  padding-left: 15px;
}

.text-uppercase {
  text-transform: uppercase !important;
  color: black;
}

.rowmargin {
  margin-bottom: 10px;
}

.rowDashboard {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
}

.sparkboxes .box1 {
  background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
}

.display-4 {
  font-size: 2rem !important;
  font-weight: 500;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
}
.display-5 {
  font-size: 1.5rem !important;
  font-weight: 500;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
}

.p-5 {
  padding: 1.5rem !important;
}

.col-md-4 {
  width: 33.33%;
  padding: 0 25px;
}

.dropzone.dz-clickable {
  cursor: pointer;
}

.dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: white;
}

.dropzone {
  min-height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
  padding: 54px 54px;
}

.dropzone.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message * {
  cursor: pointer;
}

.dropzone .dz-message {
  font-weight: 400;
}

.dropzone .dz-message {
  text-align: center;
  margin: 2em 0;
}

.dropzone.dz-clickable * {
  cursor: default;
}

.dropzone,
.dropzone * {
  box-sizing: border-box;
}

.text-white {
  color: #fff !important;
}

.text-black {
  color: #252525 !important;
}

table {
  width: 100%;
  background: white;
}

tbody tr {
  border-top: 1px solid #e7e7e7;
}

th {
  font-weight: bold;
  font-family: Helvetica;
  padding-bottom: 20px;
}

td,
th {
  text-align: center;
  height: 25px;
}

td div {
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

@media only screen and (max-width: 480px) {
  th:first-child,
  td:first-child {
    display: none;
  }
  .row {
    display: block;
  }
  .col-md-4 {
    padding: 0;
    width: 100%;
  }
}

.h5,
h5 {
  font-size: 1rem;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  font-size: 12px;
}

.dh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

/*.cardbox1 {
  background: #f8f9fa;
}

.cardbox2 {
  background: #f8f9fa;
}

.cardbox3 {
  background: #f8f9fa;
}

.cardbox4 {
  background: #f8f9fa;
}

.cardbox5 {
  background: #f8f9fa;
}
  */
.colorwhite {
  color: black;
}

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  //position: fixed;
  //top: 0;
  //left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.bpn {
  background-color: #1bc98e;
}

.ago {
  padding: 1rem !important;
}

.rowQuick {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -35px;
  margin-left: -5px;
}

.page-content {
  width: calc(100% - 17rem);
  //margin-left: 18rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
  #chart,
  doutchart {
    background: white;
  }
  .bpn {
    background-color: #1bc98e;
  }
}

body {
  background: white; /* linear-gradient(to right, #599fd9, white); */
  min-height: 100vh;
  overflow-x: hidden;
  color: #444444;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

.separator {
  margin: 1rem 0;
  border-bottom: 1px solid #ccc;
}

.heading-seperator {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.8em;
  padding-top: 0.8em;
}

.smallseparator {
  margin: 0.4rem 0;
  color: grey;
  border-bottom: 1px dashed grey;
}

.stats-replay-data .card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  // padding: 1rem !important;
  // background-color: #444 !important;
  border: 1px solid #413e45 !important;
  color: #fff;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  // padding: 1rem !important;
  padding: 0;
}
.card-body .card-title {
  padding: 0.5em;
  background-color: #413e45;
  color: #fff;
  margin: 0;
}
.card-text {
  color: #413e45;
  padding: 0.5em;
}
.card-body-header {
  background-color: #413e45;
  color: #fff;
  padding: 0.5em;
}
.card-body-header h3 {
  color: #fff;
}
.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}
.center-align {
  text-align: center;
}

.chart-box {
  border: 1px solid gray;
  background-color: white;
}

.fa-angle-down,
.fa-angle-up {
  font-size: 32px;
  padding-top: 5px;
  padding-left: 10px;
}

.btn-style,
button {
  background-color: #001e60;
  border: 1px solid lightgray;
  color: #ffff;
  font-weight: bold;
  line-height: 1.5625em;
  padding: 0.5em 0;
}
.btn-style:hover,
button:hover {
  background-color: #ccc;
}
.btn-style:hover a,
button:hover a {
  color: #413e45;
}
.btn-style a,
button a,
button small {
  color: #fff;
}

.btn-primary {
  background-color: #ffd900;
  color: #001e60;
  font-weight: bold;
  border-radius: unset;
  border-color: #ffd900;
  line-height: 1.5625em;
  padding: 0.5em 1em;
  text-transform: uppercase;
}
.btn-primary:hover {
  background-color: #001e60;
  color: #fff;
}
.btn-primary:hover a {
  color: #fff;
}

.btn-secondary {
  background-color: #001e60;
  color: #fff;
  font-weight: bold;
  border-radius: unset;
  border-color: #ffd900;
  line-height: 1.5625em;
  padding: 0.5em 1em;
}

.user {
  color: #ffd900;
  margin-right: 10px;
}
.chatModal {
  .list-group {
    margin-top: 20px;
  }

  li {
    overflow: hidden;
  }

  h4 {
    color: white;
  }

  position: fixed;
  bottom: 0;
  color: #444;
  background: #00788a;

  .dot {
    height: 0.5em;
    width: 0.5em;
    background-color: #4f9f31;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }

  .thumbnail {
    cursor: pointer;
  }

  .col-md-6 {
    padding-right: 5px;
    padding-left: 5px;
  }
}
.stats-replay-data {
  justify-content: center;
}
label,
legend {
  font-size: 1em;
  color: #5c596d;
  font-weight: bold;
}
fieldset label {
  font-weight: normal;
}
.mt-2 {
  margin-top: 2em;
}
.alert-light {
  color: #bd2624;
  background-color: #fefefe;
  border: 1px solid #bd2624;
  border-radius: unset;
  width: 80%;
  margin-top: 2em;
  margin-bottom: 2em;
}

/*.form-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-check input:checked ~ .form-check-label {
  background-color: #4f9f31;
  border: 1px solid #444;
}


.form-check-label:after {
  content: "";
  position: absolute;
  display: none;
}


.form-check input:checked ~ .form-check-label:after {
  display: block;
}
.form-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


.form-check-label {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 26px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid #ccc;
}*/
.radio {
  display: flex;
  overflow: hidden;
}

form-group {
  margin-bottom: 1em;
}

.radio input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.radio label {
  background-color: #eee;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1em;
  line-height: 1;
  text-align: center;
  padding: 1em;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.radio label:hover {
  cursor: pointer;
}

.radio input:checked + label {
  background-color: #4F9F31;
  box-shadow: none;
  color: #fff;
}

.radio label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.radio label:last-of-type {
  border-radius: 0 4px 4px 0;
}


.alert-light p {
  margin-bottom: 0;
}

input[type="text"],
input[type="password"] {
  padding: 1.5em 1em;
  font-size: 1em;
  color: #444;
  border: 1px solid #aaa;
}
select.form-control {
  height: 3.125em;
  border: 1px solid #aaa;
}
.form-row-field {
  margin-bottom: 0.5em;
}
.form-row-field input[type="text"],
.form-row-field select {
  width: 35%;
}
.form-row-field fieldset label {
  font-size: 1em;
}
.nav li {
  border-bottom: 1px solid #ccc;
  color: #444;
  padding: 0.5em;
}
.nav li:last-child {
  border-bottom: none;
}
.nav li:hover {
  background-color: #ccc;
}
.nav li:hover a {
  color: #444;
}
.nav li a {
  color: #444;
}
.nav {
  //padding: 0.5em 0;
  background-color: #eee;
  color: #fff;
}
.vertical-nav-uw .nav {
  background-color: #004fb6;
}
.vertical-nav-uw .nav li {
  border-bottom: 1px solid #ccc;
  color: #444;
}
.vertical-nav-uw .nav li:hover {
  background-color: #fff;
}
.vertical-nav-uw .nav li:hover a {
  color: #004fb6;
}
.vertical-nav-uw .nav li a {
  color: #fff;
}
.login-details {
  background-color: #001e60;
}
.vertical-nav-uw .login-details {
  background-color: #ffd900;
}

.table thead th {
  border-bottom: 1px solid #ccc;
  background-color: #eee;
}

/*.login-section {
  max-width: 500px;
  height: 100%;
  margin: auto;
}*/
/*.login-section input[type="text"],
.login-section input[type="password"],
.login-section select {
  width: 75%;
}*/
/*.login-content {
  border: 1px solid #ccc;
  background-color: #e5edf8;
  padding: 1em;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}*/
.chat-window {
  background-color: #fff;
  padding: 1em;
  border-radius: 0.5em;
  margin-bottom: 1em;
  font-size: 0.8em;
}
.chat-window .input-group {
  align-items: center;
}
.chat-window .list-group-item {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 0.5em;
}
.chat-window .list-group-item:last-child {
  border-radius: 0.5em;
}

.chatModal {
  z-index: 999;
  right: 0;
  width: 15em;
}

.blinking {
  -webkit-animation: 1s blink ease infinite;
  -moz-animation: 1s blink ease infinite;
  -ms-animation: 1s blink ease infinite;
  -o-animation: 1s blink ease infinite;
  animation: 1s blink ease infinite;
}

@keyframes "blink" {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes "blink" {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-ms-keyframes "blink" {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes "blink" {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.chatModalposition {
  left: -3em;
}
.media-body {
  color: #eee;
}
.vertical-nav-uw .media-body {
  color: #001e60;
}
.modal-dialog {
  margin-top: 0;
  margin-bottom: 0;
}
.modal-header {
  color: #001e60;
  font-weight: bold;
  font-size: 1.5em;
  background-color: #ccc;
}
.status {
  color: #001e60;
  font-weight: bold;
}
.modal-title {
  font-size: 1em;
  color: #444;
}
.btn-secondary {
  background-color: #ccc;
  color: #444;
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 0.5em 1em;
  text-transform: uppercase;
  font-weight: bold;
}
.btn-secondary:hover {
  background-color: #444;
  color: #ccc;
}
.btn-secondary:hover a {
  color: #ccc;
}

.form-group {
  margin-bottom: 1.5em;
}
.card a {
  color: #004fb6;
  font-weight: bold;
}
.dashboard-help {
  width: 40%;
}

.walkme-player.walkme-position-major-bottom {
  top: 200px;
}
a {
  cursor: pointer;
}

