<h3 class="display-4 heading-seperator">Customer Search</h3>
<form class="form" [formGroup]="customerSearchForm">
  <div class="form-row mt-3">
    <div class="form-group col-md-6">
      <label for="uwCompany">Company</label>
      <select
        id="uwCompany"
        class="form-control col-md-10"
        name="uwCompany"
        formControlName="company"
      >
        <option value="aviva">Aviva Insurance Company of Canada</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="branch">Branch</label>
      <select
        id="branch"
        class="form-control col-md-10"
        name="branch"
        formControlName="branch"
      >
        <option value="A-10">A-10-Ontario</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        name="lastName"
        class="form-control col-md-10"
        formControlName="lastName"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="postalCode">Postal Code</label>
      <input
        type="text"
        name="postalCode"
        class="form-control col-md-10"
        formControlName="postalCode"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="policyNumber">Policy Number</label>
      <input
        type="text"
        name="policyNumber"
        class="form-control col-md-10"
        formControlName="policyNumber"
      />
    </div>
  </div>
  <button type="submit" class="btn btn-primary" (click)="submit()">
    Submit
  </button>
</form>
