<h3 class="display-4 ">UW Support</h3>
<div class="row">
  <div class="col-sm-6" *ngFor="let req of sessionService.supportList">
    <div class="card">
      <div class="card-body">
        <div class="d-flex w-100 justify-content-between card-body-header">
          <h3 style="cursor: pointer;" class="mb-1" (click)="open()">
            {{ req.quote.quoteNumber }}
          </h3>
          <small>{{ req.date }}</small>
        </div>
        <div class="card-text">
          <p>
            <label class="user">User: &nbsp; {{ req.user.userName }}</label>
            <label class="branch"> Branch: &nbsp; {{ req.branch }} </label>
          </p>
          <p>
            {{ req.reason }}
          </p>
          <a (click)="startChat(req)" class="btn btn-primary">
            {{ req.statusLabel }}</a
          >
          <div
            class="pull-right {{
              req.quote.lob === 'Property' ? 'propertyIcon' : 'autoIcon'
            }}"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
