<h3 class="display-4 ">UW Support List</h3>
<div class="row">
  <div class="col-sm-6" *ngFor="let req of sessionService.supportList">
    <div class="card">
      <div class="card-body">
        <div class="d-flex w-100 justify-content-between card-body-header">
          <h3 class="mb-1">{{ req.quote.quoteNumber }}</h3>
          <small>{{ req.date }}</small>
        </div>
        <div class="card-text">
          <p>
            <label class="user">{{ req.user.userName }}</label>
            <label class="branch"> {{ req.branch }} </label>
          </p>
          <p>
            {{ req.reason }}
          </p>
          <a (click)="startChat(req.user)" class="btn btn-primary"
            >Start Chat</a
          >
          <div
            class="pull-right {{
              req.quote.lob === 'Property' ? 'propertyIcon' : 'autoIcon'
            }}"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
