<h3 class="display-4 heading-seperator">UW Support</h3>
<div class="row mt-3">
  <div class="col-sm-6" *ngFor="let req of sessionService.supportList">
    <div class="card">
      <div class="card-body">
        <div class="d-flex w-100 justify-content-between card-body-header">
          <h3 style="cursor: pointer;" class="mb-1" (click)="open()">
            {{ req.quote.quoteNumber }}
          </h3>
          <small>{{ req.date }}</small>
        </div>
        <div class="card-text">
         
            <p class="user">User: &nbsp; <span>{{ req.user.userName }}</span></p>
            <p class="branch"> Branch: &nbsp;<span>{{ req.branch }}</span> </p>
          
          <p>
            {{ req.reason }}
          </p>
          <button (click)="startChat(req)" class="btn btn-primary">
            {{ req.statusLabel }}</button
          >
          <div
            class="pull-right {{
              req.quote.lob === 'Property' ? 'propertyIcon' : 'autoIcon'
            }}"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
