<!-- Vertical navbar -->
<div class="vertical-nav" id="sidebar">
  <div class="py-4 px-3 login-details">
    <div class="media d-flex align-items-center">
      <img
        src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png"
        alt="..."
        width="65"
        class="mr-3 rounded-circle img-thumbnail shadow-sm"
      />
      <div class="media-body">
        <small>{{ sessionService.currentUser.userName }}</small>
        <h4 class="m-0">Hub Brokerage</h4>
        <p class="font-weight-light mb-0">GTA-East Branch</p>
      </div>
    </div>
  </div>
  <!--<p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">
    Main
  </p>-->
  <ul class="nav flex-column mb-0">
    <li class="nav-item">
      <a [routerLink]="['/bms/dashboard']" class="nav-link  font-weight-bold">
        <i class="fa fa-th-large mr-3  fa-fw"></i>
        Dashboard
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link ">
        <i class="fa fa-address-card mr-3  fa-fw"></i>
        Policy
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link">
        <i class="fa fa-user mr-3  fa-fw"></i>
        Sanction broker user
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/bms/customer-search']" class="nav-link">
        <i class="fa fa-search mr-3  fa-fw"></i>
        Customer Search
      </a>
    </li>

    <li class="nav-item">
      <a [routerLink]="['/bms/bms-error']" class="nav-link">
        <i class="fa fa-list mr-3  fa-fw"></i>
        BMS NB Upload
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <i class="fa  fa-credit-card mr-3  fa-fw"></i>
        Claims
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <i class="fa fa-cubes mr-3  fa-fw"></i>
        Billing
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <i class="fa fa-picture-o mr-3  fa-fw"></i>
        Documents
      </a>
    </li>
  </ul>
</div>
